/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*custom!*/
body{
	/*font-family: "Open Sans Condensed";*/
	font-family: "PT Sans Narrow";
	/*font-family: "Ubuntu Condensed";*/
	font-size: 1.2em;
	background-image: url('../images/cloud-bg.png');
	background-color:#cef9ff;
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: "Open Sans Condensed";*/
	font-family: "PT Sans Narrow";
	/*font-family: "Ubuntu Condensed";*/
	letter-spacing: normal;
}

/*links styles*/
a,
a:link,
a:visited{
	text-decoration: none;
}
a:hover,
a.active,
a.privatemsg-send-link-profile:hover,
dl.user-profile-category a:hover{
	color: #243546;
	background-color: #cef9ff;
}

.node-teaser .link-wrapper a{
	background-color: transparent;
}


/*tabs styles*/
.tabs{
	display: none;
}

#breadcrumb{
	display: none;
}

.region-sidebar-first-inner .block{
	background-color: #243546;
	margin-top: 15px;
	padding: 5px;
}

/*user zone*/
#zone-user{
	/*height: 60px;*/
	background-color: #243546;
}

	#zone-user a,
	#zone-user a:link,
	#zone-user a:visited,
	.region-sidebar-first-inner .block a,
	.region-sidebar-first-inner .block a:link,
	.region-sidebar-first-inner .block a:visited,
	.region-footer-first-inner a{
		color: #cef9ff;
	}

	#zone-user a:hover,
	#zone-user a.active,
	.region-sidebar-first-inner .block a:hover,
	.region-sidebar-first-inner .block a.active,
	.region-footer-first-inner a:hover,
	.region-footer-first-inner a.active{
		color: #243546;
		background-color: #cef9ff;
	}

	.logo-img{
		margin: 10px 0 10px 20px;
	}

	.region-user-second{
		min-height: 64px;
	}

	/*user menu*/
	.menu-block-wrapper ul li.leaf,
	.menu-block-wrapper ul li.expanded{
		float: left;
		display:block;
		list-style-type: none;
		list-style-image: none;
	}

		.menu-block-wrapper ul li.leaf a,
		.menu-block-wrapper ul li.expanded a{
			display: block;
		}

		.menu-block-wrapper ul li > ul{
			display: none;
			position:absolute;
			left:0;
			margin:0 0 0 -1px;
			padding:0;
		}

/*footer*/
.region-footer-first{
	background: url("../images/footer.png");
	height: 270px;
}

.region-footer-first-inner{
	margin-top: 211px;
}

	.region-footer-first-inner ul li{
		float: left;
		list-style: none;
	}

/*teaser*/
.node-teaser {
	margin-bottom: 30px;
	padding-bottom: 15px;
	background-image: url("../images/cloud-white-main.png");
	background-repeat: no-repeat;
	width: 380px;
	min-height: 215px;
	/*height: 168px;*/
}

    .audio-download{
	     display: none;
     }

    .node-teaser a{
        color: #243546;
	    background-color: transparent;
    }
    
    .node-teaser a:hover{
        color: #0062A0;
        background-color: transparent;
    }

	.node-teaser .user-picture{
		float:left;
	}

    .node-teaser .link-wrapper{
	    font-size: 0.8em;
    }

    .node-teaser .meta.submitted{
	    position: relative;
	    top: -35px;
	    left: 128px;
	    max-width:125px;
	    height: 32px;
    }

    .node-teaser .node-title{
	    position: relative;
	    top: 59px;
	    left:74px;
	    max-width:186px;
	    overflow: hidden;
    }

    .node-teaser .field-name-field-file{
	    position: relative;
	    /*top: 25px;*/
	    /*left: 12px;*/
	    top: 18px;
	    left: 19px;
	    width: 56px;

    }

	.node-teaser .field-type-fivestar{
		left: 87px;
		position: relative;
		top: -26px;
		width: 125px;
	}

    .node-teaser .link-wrapper{
	    position: relative;
	    z-index: 99;
	    top: -30px;
	    left: 84px;
	    max-width: 224px;
    }

	    .node-teaser .link-wrapper li{
		    padding: 0;
		    /*position: absolute;*/
		    /*width: 30px;*/
		    /*height: 30px;*/
	    }

			/*.node-teaser .link-wrapper li a{*/
				/*color: transparent;*/
				/*font-size: 0;*/
				/*max-width: 30px;*/
				/*max-height: 30px;*/
				/*overflow: hidden;*/
				/*text-indent: -9999px;*/
			/*}*/

        /*.node-teaser .link-wrapper li.node-readmore{*/
	        /*top: 0;*/
	        /*left: 0;*/
        /*}*/
		/*.node-teaser .link-wrapper li.comment-comments{*/
			 /*top: 0;*/
			 /*left: 30px;*/
		 /*}*/
		/*.node-teaser .link-wrapper li.comment-new-comments{*/
			 /*top: 0;*/
			 /*left: 60px;*/
		 /*}*/
		/*.node-teaser .link-wrapper li.flag-favorites{*/
			 /*top: 0;*/
			 /*left: 90px;*/
		 /*}*/

/*user profile*/
a.privatemsg-send-link-profile{
	color: #cef9ff;
	background-color: #243546;
	padding: 0px 5px 0 5px;
}
/*relations*/
dl.user-profile-category{
	background-color: #243546;
	color: #cef9ff;
	padding-left: 5px;
	width: 219px;
	margin-bottom: 0;
}
	dl.user-profile-category a{
		color: #cef9ff;
	}

	dl.user-profile-category dt{
		display: none;
	}

	dl.user-profile-category li{
		margin: 0;
	}

	dl.user-profile-category dd{
		margin:0;
		padding:0;
		font-style: normal;
	}

	dl.user-profile-category em{
		font-style: normal;
	}
/*headers*/
.inside h3{
	margin:0;
	color: #243546;
}
/*biography*/
.field-name-field-biography .field-label{
	color: #243546;
}

.field-name-field-biography .field-item{
	background-color: #243546;
	color: #cef9ff;
	padding-left: 5px;
	width: 219px;
}

/*.field-name-ds-user-picture img{*/
	/*float: left;*/
	/*margin-right: 10px;*/
	/*margin-bottom: 10px;*/
/*}*/


/* ----------------- Comments ----------------- */

.comment h2.title {
	margin-bottom: 1em;
}
.comment div.user-picture img {
	margin-left: 0; /* LTR */
}
.comment {
	margin-bottom: 20px;
	display: table;
	vertical-align: top;
}
.comment .attribution {
	display: table-cell;
	padding: 0 30px 0 0; /* LTR */
	vertical-align: top;
	overflow: hidden;
}
.comment .attribution img {
	margin: 0;
	border: 1px solid #d3d7d9;
}
.comment .attribution .username {
	white-space: nowrap;
}
.comment .submitted p {
	margin: 4px 0;
	font-size: 1.071em;
	line-height: 1.2;
}
.comment .submitted .comment-time {
	font-size: 0.786em;
	color: #68696b;
}
.comment .submitted .comment-permalink {
	font-size: 0.786em;
	text-transform: lowercase;
}
.comment .content {
	font-size: 0.929em;
	line-height: 1.6;
}
.comment .comment-text {
	padding: 10px 25px;
	border: 1px solid #d3d7d9;
	display: table-cell;
	vertical-align: top;
	position: relative;
	width: 100%;
}
.comment .indented {
	margin-left: 40px; /* LTR */
}
.comment ul.links {
	padding: 0 0 0.25em 0;
}
.comment ul.links li {
	padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
	margin-right: 5px; /* LTR */
	padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
	border-left: 1px solid #fff4f4;
	border-right: 1px solid #fff4f4;
}

#sm2-container{
	height: 0;
}

#sm2movie{
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
}


/*mood*/
/*usual*/
.node-teaser.mood-4{
	background-image: url("../images/cloud-white-main.png");
}
/*sunny*/
.node-teaser.mood-5{
	background-image: url("../images/cloud-white-sunny.png");
}

	.node-teaser.mood-5 .user-picture{
		float:left;
	}

	.node-teaser.mood-5 .link-wrapper{
		font-size: 0.8em;
	}

	.node-teaser.mood-5 .meta.submitted{
		position: relative;
		top: -27px;
		left: 128px;
		max-width:125px;
	}

	.node-teaser.mood-5 .node-title{
		position: relative;
		top: 65px;
		left:74px;
		max-width:186px;
		overflow: hidden;
	}

	.node-teaser.mood-5 .field-name-field-file{
		position: relative;
		/*top: 25px;*/
		/*left: 12px;*/
		top: 18px;
		left: 22px;
	}

	.node-teaser.mood-5 .link-wrapper{
		position: relative;
		z-index: 99;
		top: -30px;
		left: 84px;
		max-width: 224px;
	}

	.node-teaser.mood-5 .link-wrapper li{
		padding: 0;
	}

/*angry*/
.node-teaser.mood-8{
	background-image: url("../images/cloud-white-angry.png");
}

	.node-teaser.mood-8 a{
		color: #CEF9FF;
	}

	.node-teaser.mood-8 a:hover{
		color: #fff;
		/*background-color: transparent;*/
	}

	.node-teaser.mood-8 .submitted{
		left: 73px;
		top: -24px;
	}

	.node-teaser.mood-8 .node-title{
		top: 72px;
		left:56px;
	}

	.node-teaser.mood-8 .field-name-field-file{
		top: 30px;
	}

/*fun*/
.node-teaser.mood-9{
	background-image: url("../images/cloud-white-fun.png");
}

.node-teaser.mood-9 .link-wrapper{
	top:0;
}

/*sadness*/
.node-teaser.mood-10{
	background-image: url("../images/cloud-white-rain.png");
}

.node-teaser.mood-10 a{
	color: #CEF9FF;
}

.node-teaser.mood-10 a:hover{
	color: #fff;
}

/*full node*/
#node-menu ul li{
	float:none;
}