/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*custom!*/

body{
	/*font-family: "Open Sans Condensed";*/
	font-family: "PT Sans Narrow";
	/*font-family: "Ubuntu Condensed";*/
	font-size: 1.2em;
	background-image: url('../images/cloud-bg.png');
	background-color:#cef9ff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans Narrow";
	letter-spacing: normal;
}

h1,h2{
	color: #243546;
}

/*links styles*/
a,
a:link,
a:visited{
	text-decoration: none;
	color: #243546;
}
a:hover,
a.active,
a.privatemsg-send-link-profile:hover,
dl.user-profile-category a:hover{
	color: #243546;
	background-color: #cef9ff;
	background-image: url(../images/link-pattern.png);
}

li{
	list-style: none;
}

.grid-8 .form-textarea,
.grid-8 .form-text{
	max-width: 380px;
}

.node-teaser .link-wrapper a,
.node-teaser-big-picture .link-wrapper a{
	background-color: transparent;
}


/*tabs styles*/
.tabs{
	display: none;
}

#breadcrumb{
	display: none;
}

.region-sidebar-first-inner .block{
	background-color: #243546;
	margin-top: 15px;
	padding: 5px;
}

/*user zone*/
#zone-user{
	/*height: 60px;*/
	background-color: #243546;
}

	#zone-user a,
	#zone-user a:link,
	#zone-user a:visited,
	.region-sidebar-first-inner .block a,
	.region-sidebar-first-inner .block a:link,
	.region-sidebar-first-inner .block a:visited,
	.region-footer-first-inner a{
		color: #cef9ff;
	}

	#zone-user a:hover,
	#zone-user a.active,
	.region-sidebar-first-inner .block a:hover,
	.region-sidebar-first-inner .block a.active,
	.region-footer-first-inner a:hover,
	.region-footer-first-inner a.active{
		color: #243546;
		background-color: #cef9ff;
	}

	.logo-img{
		margin: 10px 0 10px 20px;
	}

	.region-user-second{
		min-height: 64px;
	}

	/*user menu*/
	.menu-block-wrapper ul li.leaf,
	.menu-block-wrapper ul li.expanded{
		list-style-type: none;
		list-style-image: none;
	}

		.menu-block-wrapper ul li.leaf a,
		.menu-block-wrapper ul li.expanded a{
			display: block;
		}

		.menu-block-wrapper ul li > ul{
			display: none;
			/*position:absolute;*/
			left:0;
			margin:0 0 0 -1px;
			padding:0;
		}

/*footer*/
.region-footer-first{
	background: url("../images/footer.png");
	height: 270px;
}

.region-footer-first-inner{
	margin-top: 211px;
}

	.region-footer-first-inner ul li{
		float: left;
		list-style: none;
	}

.region.region-page-bottom{
	min-height: 0px;
}

/*teaser*/
.node-teaser ,
.node-teaser-big-picture {
	margin-bottom: 30px;
	padding-bottom: 15px;
	/*background-image: url("../images/cloud-white-main.png");*/
	background-repeat: no-repeat;
	width: 380px;
	/*min-height: 300px;*/
	background-position: 0 50px;
	border-radius: 5px;
	word-break: break-all;
	border:1px solid transparent;
	/*height: 168px;*/
}

.node-teaser .cloud,
.node-teaser-big-picture .cloud{
	min-height: 220px;
	background-repeat: no-repeat;
	margin-left: 25px;
	background-image: url("../images/cloud-white-main.png");
}

    .audio-download{
	     display: none;
     }

    .node-teaser a,
.node-teaser-big-picture a{
        color: #243546;
	    background-color: transparent;
	    background-image: none;
    }
    
    .node-teaser a,
.node-teaser-big-picture a:hover{
        /*color: #0062A0;*/
        background-color: transparent;
	    background-image: none;
    }

	.node-teaser .user-picture,
.node-teaser-big-picture .user-picture{
		float:left;
	}

    .node-teaser .link-wrapper,
.node-teaser-big-picture .link-wrapper{
	    font-size: 0.8em;
    }

    .node-teaser .meta.submitted,
.node-teaser-big-picture .meta.submitted{
	    padding-left: 5px;
	    padding-bottom: 2px;
	    padding-top: 2px;
	    position: relative;
	    top: 30px;
	    left: 128px;
	    max-width:125px;
	    height: 32px;
    }

    .node-teaser .node-title,
.node-teaser-big-picture .node-title{
	    position: relative;
	    /*top: 59px;*/
	    /*left:74px;*/
	    max-width:380px;
	    /*overflow: hidden;*/
	    background-color: rgba(255, 255, 255, 0.506);
	    /*display: inline-block;*/
	    background-position: 5px 5px;
	    background-repeat: no-repeat;
	    border: 1px solid #B9DDE0;
	    border-radius: 5px 5px 0 0;
	    /*height: 32px;*/
	    line-height: 32px;
	    /*margin: 0px 10px 5px 20px;*/
	    padding: 5px 5px 5px 5px;
	    word-break: break-all;
	    overflow: hidden;
	    /*display: none;*/
	    visibility: hidden;
	    margin-bottom: 10px;
    }

    .node-teaser .field-name-field-file,
.node-teaser-big-picture .field-name-field-file{
	    position: relative;
	    top: 73px;
	    left: 19px;
	    width: 56px;

    }

	.node-teaser .field-type-fivestar,
.node-teaser-big-picture .field-type-fivestar{
		left: 87px;
		position: relative;
		top: -26px;
		width: 125px;
	}

    .node-teaser .link-wrapper,
.node-teaser-big-picture .link-wrapper{
	    position: relative;
	    z-index: 99;
	    top: -30px;
	    left: 84px;
	    max-width: 224px;
    }

	    .node-teaser .link-wrapper li,
.node-teaser-big-picture .link-wrapper li{
		    padding: 0;
		    /*position: absolute;*/
		    /*width: 30px;*/
		    /*height: 30px;*/
	    }
.cloud-picture:hover{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.506);
}
.node-teaser .cloud-picture{
	background-image: url(../images/polaroid-bg-30.png);
	width: 50px;
	margin: 0 auto;
	padding: 3px 3px 14px 3px;
	border: 1px solid #D6D6D6;
	margin-bottom: 5px;
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	position: relative;
	left: -40px;
}

.node-teaser-big-picture .cloud-picture{
	background-image: url(../images/polaroid-bg-30.png);
	width: 280px;
	margin: 0 auto;
	padding: 9px 9px 60px 9px;
	border: 1px solid #D6D6D6;
	margin-bottom: 5px;
	-moz-transform: rotate(2deg); /* Для Firefox */
	-ms-transform: rotate(2deg); /* Для IE */
	-webkit-transform: rotate(2deg); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(2deg); /* Для Opera */
	transform: rotate(2deg);
}

.clip{
	position: absolute;
	top: -12px;
	left: 21px;
	background-image: url("../images/clip-4.png");
	width:14px;
	height: 21px;
	z-index: 1;
}
.node-teaser .cloud-picture-wrapper img,
.node-teaser-big-picture .cloud-picture-wrapper img{
	z-index: 0;
	display:block;
}

.node-teaser .cloud-picture-wrapper,
.node-teaser-big-picture .cloud-picture-wrapper{
	display:block;
	position:relative;
}
.node-teaser .cloud-picture-wrapper::before,
.node-teaser-big-picture .cloud-picture-wrapper::before
{
	display:block;
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	-moz-box-shadow:inset 0px 0px 3px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 0px 0px 3px 2px rgba(0,0,0,0.2);
	box-shadow:inset 0px 0px 3px 2px rgba(0,0,0,0.2);
}

#sm2-container{
	height: 0;
}

#sm2movie{
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.fake-node-title{
	padding: 0 5px 0 5px;
}

/*.fake-node-title:hover{*/
	/*border:1px solid #B9DDE0;*/
/*}*/

/*user profile*/
a.privatemsg-send-link-profile{
	color: #cef9ff;
	background-color: #243546;
	padding: 0px 5px 0 5px;
}
/*relations*/
dl.user-profile-category{
	background-color: #243546;
	color: #cef9ff;
	padding-left: 5px;
	width: 219px;
	margin-bottom: 0;
}
	dl.user-profile-category a{
		color: #cef9ff;
	}

	dl.user-profile-category dt{
		display: none;
	}

	dl.user-profile-category li{
		margin: 0;
	}

	dl.user-profile-category dd{
		margin:0;
		padding:0;
		font-style: normal;
	}

	dl.user-profile-category em{
		font-style: normal;
	}
/*headers*/
.inside h3{
	margin:0;
	color: #243546;
}
/*biography*/
.field-name-field-biography .field-label{
	color: #243546;
}

.field-name-field-biography .field-item{
	background-color: #243546;
	color: #cef9ff;
	padding-left: 5px;
	width: 219px;
}

.field-name-ds-user-picture{
	/*float: left;*/
	/*margin-right: 5px;*/
	/*border: 1px solid #B9DDE0;*/
}

.view-id-user_friends_block .views-row,
.user-nameplate{
	background: rgba(255, 255, 255, 0.506);
	border-radius: 5px;
	margin: 0 10px 5px 0;
	padding: 5px 5px;
	border: 1px solid #B9DDE0;
	min-height: 32px;
}

.view-id-user_friends_block .views-row:hover,
.user-nameplate:hover{
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.pane-user-friends-block h2{
	margin-bottom: 5px;
}


/* ----------------- Comments ----------------- */

.comment h2.title {
	margin-bottom: 1em;
}
.comment div.user-picture img {
	margin-left: 0; /* LTR */
}
.comment {
	margin-bottom: 20px;
	display: table;
	vertical-align: top;
}
.comment .attribution {
	display: table-cell;
	padding: 0 30px 0 0; /* LTR */
	vertical-align: top;
	overflow: hidden;
}
.comment .attribution img {
	margin: 0;
	border: 1px solid #d3d7d9;
}
.comment .attribution .username {
	white-space: nowrap;
}
.comment .submitted p {
	margin: 4px 0;
	font-size: 1.071em;
	line-height: 1.2;
}
.comment .submitted .comment-time {
	font-size: 0.786em;
	color: #68696b;
}
.comment .submitted .comment-permalink {
	font-size: 0.786em;
	text-transform: lowercase;
}
.comment .content {
	font-size: 0.929em;
	line-height: 1.6;
}
.comment .comment-text {
	padding: 10px 25px;
	border: 1px solid #d3d7d9;
	display: table-cell;
	vertical-align: top;
	position: relative;
	width: 100%;
}
.comment .indented {
	margin-left: 40px; /* LTR */
}
.comment ul.links {
	padding: 0 0 0.25em 0;
}
.comment ul.links li {
	padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
	margin-right: 5px; /* LTR */
	padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
	border-left: 1px solid #fff4f4;
	border-right: 1px solid #fff4f4;
}


/*mood*/
/*usual*/
.record_big_picture.mood-4 .cloud,
.node-teaser.mood-4 .cloud,
.node-teaser-big-picture.mood-4 .cloud{
	background-image: url("../images/cloud-white-main.png");
}

.record_big_picture.mood-4 .field-name-field-file,
.node-teaser.mood-4 .field-name-field-file ,
.node-teaser-big-picture.mood-4 .field-name-field-file {
	top:73px;
}

.node-teaser.mood-4 a.flag-action,
.node-teaser-big-picture.mood-4 a.flag-action{
	left: 215px;
	position: absolute;
	top: 0px;
}

.node-teaser.mood-4 a.unflag-action,
.node-teaser-big-picture.mood-4 a.unflag-action{
	left: 215px;
	position: absolute;
	top: 0px;
}

/*sunny*/
.node-teaser.mood-5 .cloud,
.node-teaser-big-picture.mood-5 .cloud{
	background-image: url("../images/cloud-white-sunny.png");
}

	.node-teaser.mood-5 .user-picture,
.node-teaser-big-picture.mood-5 .user-picture{
		float:left;
	}

	.node-teaser.mood-5 .link-wrapper,
.node-teaser-big-picture.mood-5 .link-wrapper{
		font-size: 0.8em;
	}

	.node-teaser.mood-5 .meta.submitted,
.node-teaser-big-picture.mood-5 .meta.submitted{
		position: relative;
		top: 40px;
		left: 128px;
		max-width:125px;
	}

	/*.node-teaser.mood-5 .node-title,
.node-teaser-big-picture.mood-5 .node-title{*/
		/*position: relative;*/
		/*top: 67px;*/
		/*left:74px;*/
		/*max-width:186px;*/
		/*overflow: hidden;*/
	/*}*/

	.node-teaser.mood-5 .field-name-field-file,
.node-teaser-big-picture.mood-5 .field-name-field-file{
		position: relative;
		top: 80px;
		left: 22px;
	}

	.node-teaser.mood-5 .link-wrapper,
.node-teaser-big-picture.mood-5 .link-wrapper{
		position: relative;
		z-index: 99;
		top: -34px;
		left: 84px;
		max-width: 224px;
	}

	.node-teaser.mood-5 .link-wrapper li,
.node-teaser-big-picture.mood-5 .link-wrapper li{
		padding: 0;
	}

.node-teaser.mood-5 a.flag-action,
.node-teaser-big-picture.mood-5 a.flag-action{
	left: 215px;
	position: absolute;
	top: 0px;
}

.node-teaser.mood-5 a.unflag-action,
.node-teaser-big-picture.mood-5 a.unflag-action{
	left: 215px;
	position: absolute;
	top: 0px;
}

/*angry*/
.node-teaser.mood-8 .cloud,
.node-teaser-big-picture.mood-8 .cloud{
	background-image: url("../images/cloud-white-angry.png");
}

	.node-teaser.mood-8 a,
.node-teaser-big-picture.mood-8 a{
		/*color: #CEF9FF;*/
	}

	.node-teaser.mood-8 a:hover,
.node-teaser-big-picture.mood-8 a:hover{
		/*color: #fff;*/
		/*background-color: transparent;*/
	}

	.node-teaser.mood-8 .submitted,
.node-teaser-big-picture.mood-8 .submitted{
		left: 73px;
		top: 40px;
	}

	/*.node-teaser.mood-8 .node-title,
.node-teaser-big-picture.mood-8 .node-title{*/
		/*top: 68px;*/
		/*left: 56px;*/
	/*}*/

	.node-teaser.mood-8 .field-name-field-file,
.node-teaser-big-picture.mood-8 .field-name-field-file{
		top: 84px;
	}

.node-teaser.mood-8 a.flag-action,
.node-teaser-big-picture.mood-8 a.flag-action{
	left: 167px;
	position: absolute;
	top: 6px;
}

.node-teaser.mood-8 a.unflag-action,
.node-teaser-big-picture.mood-8 a.unflag-action{
	left: 167px;
	position: absolute;
	top: 6px;
}

/*fun*/
.node-teaser.mood-9 .cloud,
.node-teaser-big-picture.mood-9 .cloud{
	background-image: url("../images/cloud-white-fun.png");
}

.node-teaser.mood-9 .meta.submitted,
.node-teaser-big-picture.mood-9 .meta.submitted{
	left:100px;
}

.node-teaser.mood-9 .link-wrapper,
.node-teaser-big-picture.mood-9 .link-wrapper{
	top:-4px;
}

.node-teaser.mood-9 .field-name-field-file ,
.node-teaser-big-picture.mood-9 .field-name-field-file {
	left: 22px;
	position: relative;
	top: 67px;
	width: 56px;
}

.node-teaser.mood-9 a.flag-action,
.node-teaser-big-picture.mood-9 a.flag-action{
	position: absolute;
	top: 15px;
	left:182px;
}

.node-teaser.mood-9 a.unflag-action,
.node-teaser-big-picture.mood-9 a.unflag-action{
	position: absolute;
	top: 15px;
	left:182px;
}

/*sadness*/
.node-teaser.mood-10 .cloud,
.node-teaser-big-picture.mood-10 .cloud{
	background-image: url("../images/cloud-white-rain.png");
}

.node-teaser.mood-10 a,
.node-teaser-big-picture.mood-10 a{
	/*color: #CEF9FF;*/
}

.node-teaser.mood-10 .field-name-field-file ,
.node-teaser-big-picture.mood-10 .field-name-field-file {
	top: 76px;
}

.node-teaser.mood-10 a:hover,
.node-teaser-big-picture.mood-10 a:hover{
	/*color: #fff;*/
}

.node-teaser.mood-10 a.flag-action,
.node-teaser-big-picture.mood-10 a.flag-action{
	position: absolute;
	top: 0;
	left: 222px;
}

.node-teaser.mood-10 a.unflag-action,
.node-teaser-big-picture.mood-10 a.unflag-action{
	position: absolute;
	top:0;
	left:223px;
}

/*full node*/
#node-menu ul li{
	float:none;
}

/*activity*/
.heartbeat-activity {
	background: rgba(255, 255, 255, 0.506);
	/*border-bottom: 1px solid #E9E9E9;*/
	border-radius: 20px;
	margin-bottom: 10px;
	/*padding-bottom: 7px;*/
	padding-left: 14px;
	padding-top: 11px !important;
}

.heartbeat-activity .heartbeat-group-left {
	float: none;
	width: 100%;
}

.heartbeat-group-left .heartbeat-time-ago{
	line-height:30px;
	margin-left:10px;
}

.heartbeat-activity .heartbeat-comments-wrapper .heartbeat-comments form {
	background-color: transparent;
	border-bottom: none;
}

.heartbeat-activity .heartbeat-comment {
	background-color: transparent;
	border-bottom: 1px solid #CFD7E1;
}

a.flag-action{
	/*background-image: url(../images/like-button-off.png);*/
	background-image: url(../images/net+.png);
	/*width: 60px;*/
	width: 75px;
	/*height: 70px;*/
	height: 75px;
	display: inline-block;
	/*background-position: 3px 3px;*/
	background-repeat: no-repeat;
}

a.flag-action:hover{
	/*background-image: url(../images/like-button-on.png);*/
	background-image: url(../images/net+hover.png);
	/*width: 60px;*/
	width: 75px;
	/*height: 70px;*/
	height: 75px;
	display: inline-block;
	/*background-position: 0 0;*/
	background-repeat: no-repeat;
}

a.unflag-action{
	/*background-image: url(../images/like-button-on.png);*/
	background-image: url(../images/net-.png);
	/*width: 60px;*/
	width: 75px;
	/*height: 70px;*/
	height: 75px;
	display: inline-block;
	/*background-position: 3px 3px;*/
	background-repeat: no-repeat;
}

a.unflag-action:hover{
	/*background-image: url(../images/like-button-off.png);*/
	background-image: url(../images/net-hover.png);
	/*width: 60px;*/
	width: 75px;
	/*height: 70px;*/
	height: 75px;
	display: inline-block;
	/*background-position: 15px 14px;*/
	background-repeat: no-repeat;
}
/*profile*/
a.fake-active{
	-moz-border-image: url(../images/link-pattern.png) 5px repeat;
	-webkit-border-image: url(../images/link-pattern.png) 5px repeat;
	-o-border-image: url(../images/link-pattern.png) 5px repeat;
	border-image: url(../images/link-pattern.png) 5px repeat;
	border-bottom: 2px solid #CEF9FF;
}

.user-profile-picture{
	max-width: 100px;
	float: left;
}

.user-profile-picture .panel-panel.grid-8{
	max-width: 100px;
}

.pane-user-field-biography{
	clear: both;
}

.pane-user-friends-block{
	clear: both;
}

.pane-user-field-biography h2{
	margin-bottom: -4px;
}

.new-message, .add-listener, .delete-listener{
	background-image: url("../images/message-button-empty.png");
}

.user-edit.big-buttons{
	background-image: url("../images/profile-edit.png");
	background-position: 8px 7px;
}

.user-edit:hover{
	background-image:  url("../images/profile-edit-hover.png");
}
.new-message:hover,
.add-listener:hover,
.delete-listener:hover{
	background-image: url("../images/message-button-fill_.png");
}

.big-buttons{
	background-color: rgba(255, 255, 255, 0.506);
	display: inline-block;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	border: 1px solid #B9DDE0;
	border-radius: 5px;
	height: 32px;
	line-height: 32px;
	margin: 0px 10px 5px 20px;
	padding: 5px 5px 5px 50px;
}

.big-buttons:hover{
	background-color: rgba(255, 255, 255, 0.506);
}

.hover-shadow:hover{
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

/*volume control*/
.slider {
	background-image: url("../images/sider-bg.png");
	background-repeat: repeat-x;
	z-index: 99999;
	cursor: pointer;
}
.knob {
	position: relative;
	background-image: url("../images/selector.png");
	background-repeat: no-repeat;
	/*pointer-events: none;*/
	cursor: pointer;
}

#volume-control{
	background-color: rgba(255, 255, 255, 0.506);
	border-bottom: 1px solid #B9DDE0;
	border-left: 1px solid #B9DDE0;
	border-radius: 0 0 5px 5px;
	border-right: 1px solid #B9DDE0;
	border-top: none;
	display: inline-block;
	height: 35px;
	/*left: 600px;*/
	line-height: 13px;
	padding: 0px 10px;
	/*position: fixed;*/
	z-index: 9999999;
}
#volume-control{
	left: 180px;
	top:0;
}

#volume-control:hover{
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*#volume-control_knob{*/
	/*cursor: pointer;*/
	/*-webkit-user-select: none;*/
	/*-khtml-user-select: none;*/
	/*-moz-user-select: none;*/
	/*-ms-user-select: none;*/
	/*-o-user-select: none;*/
	/*user-select: none;*/
/*}*/