/* This file will hold styles that are loaded using the same media query as the wide grid. */
.view-id-user_friends_block .views-row{
/*.user-nameplate{*/
	float: left;
	width:auto;
}

.menu-block-wrapper ul li.leaf,
.menu-block-wrapper ul li.expanded{
	float: left;
	display:block;
}

.menu-block-wrapper > ul > li > ul{
	position: absolute;
}

#volume-control{
	left: 800px;
}

.unread-messages.big-buttons{
	width:auto;
	margin-left: 15px;
	margin-top: 0;
}

.user-edit.big-buttons{
	width: auto;
	margin-left: 15px;
	margin-top: 0;
}
